<!DOCTYPE html>
<html>
<head>
    <title>OPERA MEDIA FUCK</title>
</head>
<body>
    <h2>#OPERA MEDIA FUCKER!</h2>
    <form action="/search" method="get">
        <input type="text" name="q" placeholder="FUCK VIDEOS + IMAGES">
        <input type="submit" value="Search">
    </form>
    <hr>

    {% if query %}
    <p><b>Results for:</b> {{ query }}</p>
    {% endif %}

    {% for item in results %}
        <p>
            <b>{{ item.title }}</b><br>
            {% if item.type == 'image' %}
                <a href="{{ item.url }}" target="_blank">VIEW IMAGE</a><br>
                <a href="{{ item.url }}" download>FUCK IMAGE</a>
            {% else %}
                <a href="/download?url={{ item.url }}&quality=720">720P</a> |
                <a href="/download?url={{ item.url }}&quality=480">480P</a> |
                <a href="/download?url={{ item.url }}&quality=360">360P</a><br>
                <a href="/download?url={{ item.url }}&type=mp3&quality=320">320K</a> |
                <a href="/download?url={{ item.url }}&type=mp3&quality=128">128K</a>
            {% endif %}
        </p>
        <hr>
    {% endfor %}
</body>
</html>

